/* line 17, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 50, ../scss/components/_mixins.scss */
.sans-serif, .btn, #sidebar {
  font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif; }

/* line 54, ../scss/components/_mixins.scss */
.clear, .post .postOptions, #sidebar #blogAuthor {
  overflow: hidden; }

/* line 2, ../scss/components/_base.scss */
body {
  font-family: 'Alegreya', Georgia, Times, serif;
  font-size: 1em;
  line-height: 2em;
  color: #333;
  background: #FFF;
  background-size: auto 100%; }

/* line 12, ../scss/components/_base.scss */
em {
  font-style: italic; }

/* line 16, ../scss/components/_base.scss */
strong {
  font-weight: bold; }

/* line 20, ../scss/components/_base.scss */
a {
  color: #79a200;
  text-decoration: none; }
  /* line 24, ../scss/components/_base.scss */
  a:hover {
    text-decoration: underline;
    background: #f9fcf2; }

/* line 31, ../scss/components/_base.scss */
#content {
  width: 74%;
  margin-left: 26%;
  position: relative;
  z-index: 2; }

/* line 39, ../scss/components/_base.scss */
.personItem {
  overflow: hidden; }
  /* line 44, ../scss/components/_base.scss */
  .personItem .personAvatar,
  .personItem .personInfo {
    float: left; }
  /* line 48, ../scss/components/_base.scss */
  .personItem .personAvatar {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    overflow: hidden;
    margin-right: 2em; }
    /* line 56, ../scss/components/_base.scss */
    .personItem .personAvatar img {
      display: block;
      width: 100%;
      height: 100%; }
  /* line 64, ../scss/components/_base.scss */
  .personItem .personInfo {
    width: 85%; }

/* line 2, ../scss/components/_buttons.scss */
.btn {
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 20px;
  font-size: 0.875em;
  font-weight: bold; }
  /* line 12, ../scss/components/_buttons.scss */
  .btn:hover {
    text-decoration: none; }

/* line 20, ../scss/components/_buttons.scss */
.btn-tw,
.btn-fb,
.btn-gp {
  color: #FFF;
  padding-left: 35px; }

/* line 27, ../scss/components/_buttons.scss */
.btn-tw {
  background: #56a6e0; }
  /* line 29, ../scss/components/_buttons.scss */
  .btn-tw:hover {
    background: #2482c5; }

/* line 27, ../scss/components/_buttons.scss */
.btn-fb {
  background: blue; }
  /* line 29, ../scss/components/_buttons.scss */
  .btn-fb:hover {
    background: #0000b3; }

/* line 27, ../scss/components/_buttons.scss */
.btn-gp {
  background: red; }
  /* line 29, ../scss/components/_buttons.scss */
  .btn-gp:hover {
    background: #b30000; }

/* line 2, ../scss/components/_header.scss */
#header {
  line-height: 100%; }
  /* line 6, ../scss/components/_header.scss */
  #header #brand {
    background: #FFF; }

/* line 2, ../scss/components/_post.scss */
.hero {
  height: 26em;
  overflow: hidden; }
  /* line 7, ../scss/components/_post.scss */
  .hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -8%; }

/* line 16, ../scss/components/_post.scss */
.post {
  padding-bottom: 7.5em;
  padding: 0 12%;
  max-width: 900px; }
  /* line 24, ../scss/components/_post.scss */
  .post .postTitle h2 {
    font-weight: bold;
    color: #000;
    padding-top: 1.25em;
    font-size: 3em;
    line-height: 1.25em; }
  /* line 32, ../scss/components/_post.scss */
  .post .postTitle p {
    padding: 1em 0 3em;
    font-family: 'Alegreya SC', Georgia, Times, serif; }
  /* line 41, ../scss/components/_post.scss */
  .post .postEntry p {
    font-size: 1.375em;
    padding-bottom: 2.5em; }
  /* line 46, ../scss/components/_post.scss */
  .post .postEntry img {
    display: block;
    width: 100%;
    height: auto; }
  /* line 54, ../scss/components/_post.scss */
  .post .postAuthor {
    padding: 2em 0 1.333em;
    border-top: 2px solid #EEE;
    border-bottom: 2px solid #EEE; }
    /* line 60, ../scss/components/_post.scss */
    .post .postAuthor .authorInfo {
      width: 60%; }
      /* line 64, ../scss/components/_post.scss */
      .post .postAuthor .authorInfo p {
        line-height: 1.375em; }
      /* line 68, ../scss/components/_post.scss */
      .post .postAuthor .authorInfo strong {
        font-weight: normal;
        display: block;
        font-family: 'Alegreya SC', Georgia, Times, serif;
        padding-bottom: 0.3em; }
      /* line 75, ../scss/components/_post.scss */
      .post .postAuthor .authorInfo span {
        font-size: 0.875em; }
  /* line 83, ../scss/components/_post.scss */
  .post .postOptions {
    padding: 2.5em 0 3em; }
    /* line 88, ../scss/components/_post.scss */
    .post .postOptions strong, .post .postOptions ul, .post .postOptions li {
      float: left; }
    /* line 92, ../scss/components/_post.scss */
    .post .postOptions strong {
      padding: 2px 15px 0 0; }
    /* line 96, ../scss/components/_post.scss */
    .post .postOptions li {
      margin-left: 5px; }

/* line 2, ../scss/components/_comments.scss */
#comments {
  border-top: 1px solid #EEE;
  padding: 6% 12%; }
  /* line 7, ../scss/components/_comments.scss */
  #comments h3 {
    font-size: 2em;
    color: #222;
    border-bottom: 1px solid #DDD;
    padding-bottom: 0.5em;
    margin-bottom: 1em; }
  /* line 15, ../scss/components/_comments.scss */
  #comments #commentList {
    padding-bottom: 4em;
    max-width: 900px; }
    /* line 22, ../scss/components/_comments.scss */
    #comments #commentList .comment .commentText {
      clear: both; }
  /* line 30, ../scss/components/_comments.scss */
  #comments #respond {
    color: #666; }
    /* line 34, ../scss/components/_comments.scss */
    #comments #respond p {
      padding-bottom: 1.25em; }
      /* line 38, ../scss/components/_comments.scss */
      #comments #respond p label {
        display: block; }
      /* line 42, ../scss/components/_comments.scss */
      #comments #respond p input, #comments #respond p textarea {
        width: 70%;
        padding: 10px;
        background: #FFF;
        border: 1px solid #CCC;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
        /* line 50, ../scss/components/_comments.scss */
        #comments #respond p input:focus, #comments #respond p textarea:focus {
          color: #000;
          background: #FFF;
          outline: 0; }
      /* line 58, ../scss/components/_comments.scss */
      #comments #respond p textarea {
        height: 120px; }

/* line 2, ../scss/components/_sidebar.scss */
#sidebar {
  position: fixed;
  top: 0;
  left: 1px;
  width: 26%;
  height: 100%;
  z-index: 1; }
  /* line 12, ../scss/components/_sidebar.scss */
  #sidebar #sidebarHolder {
    height: 100%;
    padding: 0 10%;
    border-right: 1px solid rgba(0, 0, 0, 0.07); }
  /* line 18, ../scss/components/_sidebar.scss */
  #sidebar #blogAuthor {
    font-size: 0.813em;
    padding: 20px 0;
    border-top: 1px solid #EEE; }
    /* line 26, ../scss/components/_sidebar.scss */
    #sidebar #blogAuthor #ba-avatar,
    #sidebar #blogAuthor #ba-info {
      float: left; }
    /* line 30, ../scss/components/_sidebar.scss */
    #sidebar #blogAuthor #ba-avatar {
      width: 75px;
      height: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;
      -ms-border-radius: 75px;
      -o-border-radius: 75px;
      border-radius: 75px;
      overflow: hidden; }
      /* line 37, ../scss/components/_sidebar.scss */
      #sidebar #blogAuthor #ba-avatar img {
        display: block; }
    /* line 43, ../scss/components/_sidebar.scss */
    #sidebar #blogAuthor #ba-info {
      width: 50%;
      line-height: 100%;
      padding: 2px 0 0 20px; }
      /* line 49, ../scss/components/_sidebar.scss */
      #sidebar #blogAuthor #ba-info * {
        display: block;
        padding-top: 5px; }
      /* line 54, ../scss/components/_sidebar.scss */
      #sidebar #blogAuthor #ba-info strong {
        color: #7da700; }
      /* line 58, ../scss/components/_sidebar.scss */
      #sidebar #blogAuthor #ba-info span {
        color: #888; }
  /* line 66, ../scss/components/_sidebar.scss */
  #sidebar #postActions {
    font-size: 0.875em;
    text-align: center; }
    /* line 71, ../scss/components/_sidebar.scss */
    #sidebar #postActions li {
      margin: 5px 0; }
    /* line 75, ../scss/components/_sidebar.scss */
    #sidebar #postActions a {
      color: #999;
      display: block;
      padding: 5px 10px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      background: rgba(0, 0, 0, 0.03);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    /* line 86, ../scss/components/_sidebar.scss */
    #sidebar #postActions #pa-like a:hover {
      color: #FFF;
      text-decoration: none;
      background: #e74c3c; }

@media screen and (max-width: 1000px) {
  /* line 4, ../scss/components/_responsive.scss */
  #sidebar {
    display: none; }

  /* line 8, ../scss/components/_responsive.scss */
  #content {
    width: auto;
    margin: 0; } }
