/* line 17, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 40, ../scss/components/_mixins.scss */
.sans-serif, .btn, #header #toggleMenu, .aside {
  font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400; }

/* line 45, ../scss/components/_mixins.scss */
.clear, #header #toggleMenu, #sidebar #blogAuthor, #drawer #closeDrawer {
  overflow: hidden; }

/* line 49, ../scss/components/_mixins.scss */
.sprite, #header #toggleMenu span, #drawer #closeDrawer a {
  display: block;
  font-size: 0;
  text-indent: -9999em;
  width: 15px;
  height: 10px;
  background: url('../../images/sprite.png') no-repeat 0 0; }

/* line 2, ../scss/components/_base.scss */
body {
  font-family: 'Alegreya', Georgia, Times, serif;
  font-size: 1em;
  line-height: 2em;
  color: #333;
  background: #222; }

/* line 11, ../scss/components/_base.scss */
em {
  font-style: italic; }

/* line 15, ../scss/components/_base.scss */
strong {
  font-weight: 600; }

/* line 19, ../scss/components/_base.scss */
a {
  color: #2383c4;
  text-decoration: none; }
  /* line 23, ../scss/components/_base.scss */
  a:hover {
    text-decoration: underline;
    background: #f4f9fd; }

/* line 30, ../scss/components/_base.scss */
#central {
  background: #FFF;
  width: 78%;
  padding-left: 22%;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  /* line 38, ../scss/components/_base.scss */
  #central.mixed {
    width: 56%;
    margin-right: 22%; }

/* line 45, ../scss/components/_base.scss */
.personItem {
  overflow: hidden; }
  /* line 50, ../scss/components/_base.scss */
  .personItem .personAvatar,
  .personItem .personInfo {
    float: left; }
  /* line 54, ../scss/components/_base.scss */
  .personItem .personAvatar {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    overflow: hidden;
    margin-right: 2em; }
    /* line 62, ../scss/components/_base.scss */
    .personItem .personAvatar img {
      display: block;
      width: 100%;
      height: 100%; }
  /* line 70, ../scss/components/_base.scss */
  .personItem .personInfo {
    width: 85%; }

/* line 78, ../scss/components/_base.scss */
.postActions a {
  color: #999;
  display: block;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  /* line 87, ../scss/components/_base.scss */
  .postActions a:hover {
    color: #FFF;
    text-decoration: none;
    background: #999; }
/* line 97, ../scss/components/_base.scss */
.postActions .pa-like a:hover, .postActions .pa-like .just-voted {
  color: #FFF;
  background: #e74c3c; }

/* line 2, ../scss/components/_buttons.scss */
.btn {
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 3px 20px;
  font-size: 0.875em;
  font-weight: bold; }
  /* line 12, ../scss/components/_buttons.scss */
  .btn:hover {
    text-decoration: none; }

/* line 20, ../scss/components/_buttons.scss */
.btn-tw,
.btn-fb,
.btn-gp {
  color: #FFF;
  padding-left: 35px; }

/* line 27, ../scss/components/_buttons.scss */
.btn-tw {
  background: #56a6e0; }
  /* line 29, ../scss/components/_buttons.scss */
  .btn-tw:hover {
    background: #2482c5; }

/* line 27, ../scss/components/_buttons.scss */
.btn-fb {
  background: blue; }
  /* line 29, ../scss/components/_buttons.scss */
  .btn-fb:hover {
    background: #0000b3; }

/* line 27, ../scss/components/_buttons.scss */
.btn-gp {
  background: red; }
  /* line 29, ../scss/components/_buttons.scss */
  .btn-gp:hover {
    background: #b30000; }

/* line 2, ../scss/components/_header.scss */
#header {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }
  /* line 11, ../scss/components/_header.scss */
  #header #headerHolder {
    position: fixed;
    top: 0;
    left: 0;
    width: 22%;
    background: #FFF;
    border-bottom: 1px solid #EEE; }
  /* line 20, ../scss/components/_header.scss */
  #header #brand {
    padding: 15px 10%;
    height: 50px;
    overflow: hidden; }
    /* line 26, ../scss/components/_header.scss */
    #header #brand a {
      line-height: 100%; }
    /* line 30, ../scss/components/_header.scss */
    #header #brand img {
      display: block;
      max-height: 50px;
      width: auto; }
    /* line 36, ../scss/components/_header.scss */
    #header #brand span {
      color: #000;
      font-size: 1.5em;
      font-weight: 700; }
  /* line 44, ../scss/components/_header.scss */
  #header #toggleMenu {
    line-height: 100%;
    font-size: 0.938em;
    position: absolute;
    top: 20px;
    right: 30px;
    text-transform: uppercase; }
    /* line 55, ../scss/components/_header.scss */
    #header #toggleMenu strong, #header #toggleMenu span {
      float: left; }
    /* line 59, ../scss/components/_header.scss */
    #header #toggleMenu strong {
      color: #888;
      padding-right: 10px; }
    /* line 64, ../scss/components/_header.scss */
    #header #toggleMenu span {
      margin-top: 3px; }
    /* line 69, ../scss/components/_header.scss */
    #header #toggleMenu a:hover strong {
      color: #333; }

/* line 2, ../scss/components/_post.scss */
.hero {
  height: 26em;
  overflow: hidden; }
  /* line 7, ../scss/components/_post.scss */
  .hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -8%; }

/* line 16, ../scss/components/_post.scss */
.post {
  padding-bottom: 7.5em;
  padding: 0 14% 4% 12%;
  max-width: 900px;
  border-bottom: 1px solid #DDD; }
  /* line 23, ../scss/components/_post.scss */
  .post .postTitle {
    padding-bottom: 1.5625em; }
    /* line 27, ../scss/components/_post.scss */
    .post .postTitle h2 {
      font-weight: bold;
      color: #000;
      padding-top: 1.25em;
      padding-bottom: 0.3125em;
      font-size: 3em;
      line-height: 1.25em; }
      /* line 36, ../scss/components/_post.scss */
      .post .postTitle h2 a {
        color: #000; }
    /* line 42, ../scss/components/_post.scss */
    .post .postTitle p {
      font-variant: small-caps; }
  /* line 50, ../scss/components/_post.scss */
  .post .postImage img, .post .postEntry img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px; }
  /* line 61, ../scss/components/_post.scss */
  .post .postEntry p {
    font-size: 1.375em;
    padding-bottom: 2.5em; }

/* line 2, ../scss/components/_comments.scss */
#comments {
  border-top: 1px solid #EEE;
  padding: 6% 12%; }
  /* line 7, ../scss/components/_comments.scss */
  #comments h3 {
    font-size: 2em;
    color: #222;
    border-bottom: 1px solid #DDD;
    padding-bottom: 0.5em;
    margin-bottom: 1em; }
  /* line 15, ../scss/components/_comments.scss */
  #comments #commentList {
    padding-bottom: 4em;
    max-width: 900px; }
    /* line 22, ../scss/components/_comments.scss */
    #comments #commentList .comment .commentText {
      clear: both; }
  /* line 30, ../scss/components/_comments.scss */
  #comments #respond {
    color: #666; }
    /* line 34, ../scss/components/_comments.scss */
    #comments #respond p {
      padding-bottom: 1.25em; }
      /* line 38, ../scss/components/_comments.scss */
      #comments #respond p label {
        display: block; }
      /* line 42, ../scss/components/_comments.scss */
      #comments #respond p input, #comments #respond p textarea {
        width: 70%;
        padding: 10px;
        background: #FFF;
        border: 1px solid #CCC;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
        /* line 50, ../scss/components/_comments.scss */
        #comments #respond p input:focus, #comments #respond p textarea:focus {
          color: #000;
          background: #FFF;
          outline: 0; }
      /* line 58, ../scss/components/_comments.scss */
      #comments #respond p textarea {
        height: 120px; }

/* line 2, ../scss/components/_aside.scss */
.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 22%;
  height: 100%;
  z-index: 2; }
  /* line 12, ../scss/components/_aside.scss */
  .aside .asideHolder {
    height: 100%;
    overflow: auto; }
    /* line 17, ../scss/components/_aside.scss */
    .aside .asideHolder .asideBox {
      padding: 0 10%; }

/* line 2, ../scss/components/_sidebar.scss */
#sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.07); }
  /* line 6, ../scss/components/_sidebar.scss */
  #sidebar #blogMainPage {
    padding-top: 80px; }
  /* line 10, ../scss/components/_sidebar.scss */
  #sidebar #blogAuthor {
    font-size: 0.813em;
    padding: 20px 10%;
    border-top: 1px solid #EEE; }
    /* line 18, ../scss/components/_sidebar.scss */
    #sidebar #blogAuthor #ba-avatar,
    #sidebar #blogAuthor #ba-info {
      float: left; }
    /* line 22, ../scss/components/_sidebar.scss */
    #sidebar #blogAuthor #ba-avatar {
      width: 75px;
      height: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;
      -ms-border-radius: 75px;
      -o-border-radius: 75px;
      border-radius: 75px;
      overflow: hidden; }
      /* line 29, ../scss/components/_sidebar.scss */
      #sidebar #blogAuthor #ba-avatar img {
        display: block; }
    /* line 35, ../scss/components/_sidebar.scss */
    #sidebar #blogAuthor #ba-info {
      width: 50%;
      line-height: 100%;
      padding: 2px 0 0 20px; }
      /* line 41, ../scss/components/_sidebar.scss */
      #sidebar #blogAuthor #ba-info * {
        display: block;
        padding-top: 5px; }
      /* line 46, ../scss/components/_sidebar.scss */
      #sidebar #blogAuthor #ba-info strong {
        color: #2386c8; }
      /* line 50, ../scss/components/_sidebar.scss */
      #sidebar #blogAuthor #ba-info span {
        color: #888; }
  /* line 58, ../scss/components/_sidebar.scss */
  #sidebar .postActions {
    font-size: 0.875em;
    text-align: center; }
    /* line 63, ../scss/components/_sidebar.scss */
    #sidebar .postActions li {
      margin: 5px 0; }

/* line 2, ../scss/components/_drawer.scss */
#drawer {
  left: auto;
  right: -22%;
  background: #222;
  z-index: 4;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  /* line 11, ../scss/components/_drawer.scss */
  #drawer #closeDrawer {
    height: 15px;
    padding: 15px 10%; }
    /* line 17, ../scss/components/_drawer.scss */
    #drawer #closeDrawer a {
      float: right;
      height: 15px;
      background-position: 0 -20px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
      /* line 24, ../scss/components/_drawer.scss */
      #drawer #closeDrawer a:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
  /* line 31, ../scss/components/_drawer.scss */
  #drawer .drawerBox {
    font-size: 0.875em;
    color: #666; }
    /* line 36, ../scss/components/_drawer.scss */
    #drawer .drawerBox h3 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 600;
      color: #CCC;
      margin-bottom: 15px;
      border-bottom: 1px solid #333; }
    /* line 45, ../scss/components/_drawer.scss */
    #drawer .drawerBox a {
      color: #666; }
    /* line 49, ../scss/components/_drawer.scss */
    #drawer .drawerBox ul {
      margin-bottom: 10px; }
      /* line 53, ../scss/components/_drawer.scss */
      #drawer .drawerBox ul li {
        list-style: inside circle;
        line-height: 120%;
        padding-bottom: 5px; }
    /* line 61, ../scss/components/_drawer.scss */
    #drawer .drawerBox .tagcloud {
      line-height: 120%; }
    /* line 65, ../scss/components/_drawer.scss */
    #drawer .drawerBox #recentcomments li a:first-child {
      font-weight: 600; }
    /* line 69, ../scss/components/_drawer.scss */
    #drawer .drawerBox table {
      width: 100%; }
      /* line 73, ../scss/components/_drawer.scss */
      #drawer .drawerBox table th, #drawer .drawerBox table td {
        text-align: center; }
      /* line 77, ../scss/components/_drawer.scss */
      #drawer .drawerBox table a {
        color: #FFF;
        display: block;
        font-weight: bold;
        height: 100%; }
        /* line 84, ../scss/components/_drawer.scss */
        #drawer .drawerBox table a:hover {
          background: #333; }
  /* line 94, ../scss/components/_drawer.scss */
  #drawer.open {
    right: 0; }

/* line 2, ../scss/components/_footer.scss */
#footer {
  background: #EEE; }

@media screen and (max-width: 1000px) {
  /* line 4, ../scss/components/_responsive.scss */
  #sidebar {
    position: static;
    width: auto;
    height: auto; }

  /* line 10, ../scss/components/_responsive.scss */
  #drawer {
    right: -30%;
    width: 30%; }

  /* line 15, ../scss/components/_responsive.scss */
  #central, #central.mixed {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -o-transition-property: none;
    transition-property: none;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
    width: auto;
    padding: 0;
    margin: 0; }

  /* line 26, ../scss/components/_responsive.scss */
  #header #headerHolder {
    position: absolute;
    width: auto;
    border: 0;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    -ms-border-radius: 0 0 5px 0;
    -o-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0; }
    /* line 33, ../scss/components/_responsive.scss */
    #header #headerHolder #brand {
      padding: 15px; } }
@media screen and (max-width: 500px) {
  /* line 45, ../scss/components/_responsive.scss */
  .hero {
    height: 12em;
    overflow: hidden; } }
