/*
	   
  ___ (~ )( ~)
 /   \_\ \/ /
|   D _]\ \/  	Boston
|   D _]/\ \    IE FIXES :(
 \___/ / /\ \
      (~ )( ~)
      
*/

/*-----------------------------------------------------------------------------------------------*/

/*- All --------------------------------------------------------------------*/
		
		
		#header #sidebar {border-right:1px solid #DDD;}
		#header #toggleMenu a {background:#222;}
		.popThumb a {display:block; width:100%; height:100%;}
		.post .postEntry .gallery .gallery-item {display:block; width:150px; height:150px;}
		

/*- End All ----------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/