	
	body {

		font-family:'Source Sans Pro', Helvetica Neue, Helvetica, Arial, serif;
		@include base_font_size;
		color:#222;

	}

	button::-moz-focus-inner {
		padding:0;
		border:0;
	}

	em {
		font-style:italic;
	}

	b, strong {
		font-weight:600;
	}

	a {
		color:$maincolor;
		text-decoration:none;
		border-bottom:1px solid tint($maincolor, 80);

		&:hover {
			background:tint($maincolor, 95);
		}

	}

	label {
		display:block;
	}

	input[type="text"], input[type="password"], textarea {
		display:block;
		padding:10px;
		width:70%;
		font-size:0.875em;
		color:#666;
		background:#FFF;
		border:1px solid #CCC;
		@include border-radius(3px);
		&:focus {
			color:#000;
			border-color:$maincolor;
			outline:0;
			@include single-box-shadow(rgba(0,0,0,0.1), 0, 0);
		}
	}

	textarea {
		@include em_size(height, 120);
	}

	#central {

		background:#FFF;
		width:77%;
		padding-left:23%;
		@include transition-property(width);
		@include transition-duration(0.5s);

		&.mixed {
			width:55%;
			margin-right:23%;
		}

	}

	.personItem {

		overflow:hidden;

		.personAvatar,
		.personInfo {
			float:left;
		}

		.personAvatar {
				
			width:80px;
			height:80px;
			@include border-radius(40px);
			overflow:hidden;
			margin-right:2em;

			img {
				display:block;
				width:100%;
				height:100%;
			}

		}

		.personInfo {
			width:85%;
		}

	}