	
	#comments {
		
		background:#FAFAFA;
		border-top:1px solid #EEE;
		padding:6% 12%;

		h3 {
			font-size:2em;
			color:#222;
			border-bottom:1px solid #DDD;
			padding-bottom:0.5em;
			margin-bottom:1em;
		}

		#commentList {

			padding-bottom:4em;
			max-width:900px;
			
			.comment {

				.commentText {
					clear:both;
				}

			}

		}

		#respond {

			color:#666;

			p {

				padding-bottom:1.25em;

				label {
					display:block;
				}
				
				input, textarea {
					
					width:70%;
					padding:10px;
					background:#FFF;
					border:1px solid #CCC;
					@include border-radius(3px);
					
					&:focus {
						color:#000;
						background:#FFF;
						outline:0;
					}

				}

				textarea {
					height:120px;
				}

			}

		}

	}