	
	#comments, #respond {

		padding:6% 12%;
		border-top:1px solid #DDD;

		.subtitle {
			@include em_size(font-size, 32);
			@include em_size(margin-bottom, 10);
			color:#000;
			letter-spacing:-0.05em;
			font-weight:600;
			border-bottom:1px solid #DDD;
			padding-bottom:0.5em;
		}

	}

	#comments {

		#commentList {
			
			.comment {

				@extend .clear;
				@include em_size(padding-top, 20);
				@include em_size(padding-bottom, 20);
				border-bottom:1px solid #EEE;
				background:#FFF;

				.co-avatar, .co-info {
					float:left;
				}

				.co-avatar {
					width:75px;
					height:75px;
					overflow:hidden;
					@include border-radius(75px);
				}

				.co-info {

					@include em_size(padding-left, 30);
					width:70%;

					p {
						@include em_size(padding-bottom, 20);
					}

				}

				&:last-child {
					border:0;
				}

			}

			.byuser {
				background:#FAFAFA;
			}

			.children {
				clear:both;
				@include em_size(margin-left, 30);
				.comment {
					border-top:1px solid #EEE;
				}
			}

		}

	}

	#respond {

		p {
			@include em_size(padding-bottom, 15);
		}

		label {
			@include em_size(font-size, 15);
		}

		span {
			color:#C00;
		}

	}