	
	#comments {

		h3 {
			font-size:2em;
			color:#000;
			letter-spacing:-0.05em;
			font-weight:600;
			border-bottom:1px solid #DDD;
			padding-bottom:0.5em;
			margin-bottom:1em;
		}

		#commentList, #respond {
			padding:6% 12%;
			border-bottom:1px solid #DDD;
		}

		#commentList {
			
			.comment {

				.commentText {
					clear:both;
				}

			}

		}

		#respond {

			color:#666;

			p {

				padding-bottom:1.25em;
				
			}

		}

	}