	
	#drawer {
		
		left:auto;
		right:-23%;
		background:#222;
		z-index:4;
		@include transition-property(right);
		@include transition-duration(0.5s);

		a {
			color:#666;
			border:0;
			&:hover {
				color:#FFF;
				background:none;
			}
		}

		#closeDrawer {

			height:15px;
			padding:15px 10%;
			@extend .clear;

			a {
				@extend .sprite;
				float:right;
				height:15px;
				background-position:0 -20px;
				@include opacity(0.5);

				&:hover {
					@include opacity(1);
				}
			}

		}

		.drawerBox {
			
			font-size:0.875em;
			color:#666;

			h3 {
				text-transform:uppercase;
				letter-spacing:0.1em;
				color:#CCC;
				margin-bottom:15px;
				border-bottom:1px solid #333;
			}

			ul {

				margin-bottom:10px;
				
				li {
					list-style:inside circle; 
					line-height:120%;
					padding-bottom:5px;
				}

			}

			.tagcloud {
				line-height:140%;
				padding-bottom:20px;
			}

			#recentcomments li a:first-child {
				font-weight:600;
			}

			caption {
				text-align:center;
				font-weight:600;
			}

			table {

				width:100%;
				margin-bottom:20px;

				th, td {
					text-align:center;
				}

				a {
					
					color:#FFF;
					display:block;
					font-weight:bold;
					height:100%;

					&:hover {
						background:#333;
					}

				}

				tfoot {
					td {
						background:#2D2D2D;
					}
				}

			}

			.searchform {

				margin-bottom:20px;
				
				label {
					position:absolute;
					top:0;
					left:-9999px;
					width:1px;
					height:1px;
					overflow:hidden;
				}

				div {

					position:relative;
					background:#FFF;
					padding:0 35px 0 20px;
					@include border-radius(20px);
					
					input {
						padding:7px 0;
						width:100%;
						border:0;
						&:focus{
							outline:0;	
						}
					}

					#searchsubmit {

						@extend .sprite;
						padding:0;
						position:absolute;
						right:10px;
						bottom:10px;

					}

				}

			}

		}

		&.open {
			right:0;
		}

	}