	
	#drawer {
		
		left:auto;
		right:-23%;
		background:#222;
		z-index:4;
		@include transition-property(right);
		@include transition-duration(0.5s);

		a {
			color:#666;
			border:0;
			&:hover {
				color:#FFF;
				background:none;
			}
		}

		#closeDrawer {

			height:15px;
			padding:15px 10%;
			@extend .clear;

			a {
				@extend .sprite;
				float:right;
				height:15px;
				background-position:0 -20px;
				@include opacity(0.5);

				&:hover {
					@include opacity(1);
				}
			}

		}

		.drawerBox {
			
			font-size:0.875em;
			color:#666;

			h3 {
				text-transform:uppercase;
				letter-spacing:0.1em;
				color:#CCC;
				margin-bottom:15px;
				border-bottom:1px solid #333;
			}

			ul {

				margin-bottom:10px;
				
				li {
					list-style:inside circle; 
					line-height:120%;
					padding-bottom:5px;
				}

			}

			.tagcloud {
				line-height:120%;
			}

			#recentcomments li a:first-child {
				font-weight:600;
			}

			caption {
				text-align:center;
				font-weight:600;
			}

			table {

				width:100%;

				th, td {
					text-align:center;
				}

				a {
					
					color:#FFF;
					display:block;
					font-weight:bold;
					height:100%;

					&:hover {
						background:#333;
					}

				}

			}

		}

		&.open {
			right:0;
		}

	}