	
	#footer {

		border-top:1px solid #DDD;

		p {
			line-height:160%;
			@include em_size(font-size, 12);
			color:#666;
			@extend .container;
			@include em_size(padding-top, 20);
			@include em_size(padding-bottom, 20);
		}

		a {
			color:#666;
		}

		span {
			color:#888;
			a {
				@include opacity(0.7);
				border-color:#CCC;
			}
		}

	}