	
	#header {
		
		width:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:3;
		
		#sidebar {
			
			background:#FFF;
			border-right:1px solid rgba(0,0,0,0.07);
				
			#blogBrand {
				
				padding:0 10%;
				@include em_size(padding-top, 20);
				@include em_size(padding-bottom, 20);
				overflow:hidden;

				h1 {
					font-size:1.5em;
					font-weight:600;
					@include em_size(padding-top, 10);
				}

				a {
					border:0;
					&:hover {
						background:none;
					}
				}

				p {
					
					line-height:140%;
					padding-top:5px;
					color:#666;

					a {
						display:block;
					}

					img {
						display:block;
						width:auto;
						height:80px;
					}

				}

			}

			#blogPages {
				
				padding-bottom:30px;

				a {
					@include opacity(0.5);
				}

				.current_page_item a, a:hover {
					@include opacity(1);
					background:none;
				}

			}

		}

		#toggleMenu {

			@extend .sans-serif;
			@extend .clear;
			line-height:100%;
			font-size:0.938em;
			position:absolute;
			top:24px;
			right:30px;
			text-transform:uppercase;

			a {
				display:block;
				@include opacity(0.6);
				border:0;
				&:hover {
					@include opacity(1);
				}
			}
			
			strong, span {
				float:left;
			}

			strong {
				padding-right:10px;
			}
			
			span {
				margin-top:3px;
				@extend .sprite;
			}

			&.alt {
				a {
					color:#FFF;
					span {
						background-position:0 -10px;
					}
				}
			}

		}

	}