	
	#header {
		
		width:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:3;
		
		#sidebar {
			
			background:#FFF;
			border-right:1px solid rgba(0,0,0,0.07);
				
			#blogBrand {
				
				padding:0 10%;
				@include em_size(padding-top, 20);
				@include em_size(padding-bottom, 20);
				overflow:hidden;

				h1 {
					font-size:1.5em;
					font-weight:600;
					@include em_size(padding-top, 10);
				}

				a {
					border:0;
					&:hover {
						background:none;
					}
				}

				p {
					
					line-height:140%;
					padding-top:5px;
					color:#666;

					a {
						display:block;
					}

					img {
						display:block;
						width:auto;
						height:80px;
					}

				}

			}

			#blogPages {
				
				padding-bottom:30px;

				a {
					@include opacity(0.5);
				}

				.current_page_item a, a:hover {
					@include opacity(1);
					background:none;
				}

			}

		}

		#toggleMenu {

			@extend .clear;
			position:fixed;
			top:12px;
			right:12px;
			
			a {
				display:block;
				background:rgba(0,0,0,0.9);
				padding:12px;
				border:0;
				@include border-radius(3px);
			}

			strong {
				@extend .sprite;
				width:15px;
				height:10px;
			}

		}

	}