	
	$base_font_size : 16;
	$base_em_unit : 1 / $base_font_size;

	@mixin base_font_size(){	
		font-size:#{$base_font_size * $base_em_unit}em;
		line-height:#{($base_font_size * $base_em_unit) * 2}em;
	}

	@mixin em_size($property, $size){
		$props : width, min-width, max-width, height, min-height, font-size, line-height, padding-top, padding-right, padding-bottom, padding-left, padding, margin-top, margin-right, margin-bottom, margin-left, margin;
		@each $prop in $props {
			@if ($property == $prop) {
				#{$prop}:#{$base_em_unit * $size}em;
			}
		}
	}

	.serif {
		font-family:'Alegreya', Georgia, Times, serif;
	}
	
	.sans-serif {
		font-family:'Source Sans Pro', Helvetica Neue, Helvetica, Arial, serif;
	}

	.clear {
		overflow:hidden;
	}

	.sprite {
		display:block;
		font-size:0;
		text-indent:-9999em;
		width:15px;
		height:10px;
		background:image-url('main/sprite.png', false, false) no-repeat 0 0;
	}

	$maincolor:#98CB00;