	
	#pagination {
		
		padding:0 12%;
		border-bottom:1px solid #EEE;
		
		a, span {
			@include inline-block;
			text-align:center;
			padding:0 10px;
			margin:20px 5px 20px 0;
			border:0;
			@include border-radius(3px);
		}

		a {
			color:#666;
			&:hover {
				color:#333;
			}
		}

		span {
			color:#FFF;
			background:#999;
		}
	
	}