	
	#pagination {
		
		padding:0 12%;
		@include em_size(font-size, 14);
		
		a, span {
			@include inline-block;
			text-align:center;
			line-height:100%;
			padding:6px 10px;
			@include em_size(margin-top, 20);
			@include em_size(margin-bottom, 20);
			border:0;
			@include border-radius(3px);
		}

		a {
			color:#666;
			&:hover {
				color:#333;
			}
		}

		span {
			color:#FFF;
			background:#999;
		}
	
	}