	
	#pagination {
		
		@extend .container;
		@include em_size(font-size, 14);
		
		a, span {
			@include inline-block;
			color:#666;
			text-align:center;
			line-height:100%;
			padding:6px 10px;
			margin:0 2px;
			border:0;
			@include em_size(margin-top, 20);
			@include em_size(margin-bottom, 20);
			@include border-radius(3px);
		}

		a {
			background:#EEE;
			&:hover {
				color:#FFF;
				background:$maincolor;
			}
		}

		.dots {
			color:#999;
		}
	
	}