	
	.hero {
		
		height:26em;
		overflow:hidden;

		img {
			display:block;
			width:100%;
			height:auto;
			margin-top:-8%;
		}

	}	

	.post {

		@include em_size(padding-bottom, 120);
		padding:0 12%;
		max-width:900px;

		.postTitle {

			h2 {
				font-weight:bold;
				color:#000;
				@include em_size(padding-top, 20);
				@include em_size(font-size, 48);
				@include em_size(line-height, 20);
			}

			p {
				padding:1em 0 3em;
				@include caps();
			}

		}

		.postEntry {
			
			p {
				@include em_size(font-size, 22);
				@include em_size(padding-bottom, 40);
			}

			img {
				display:block;
				width:100%;
				height:auto;
			}

		}

		.postAuthor {
			
			padding:2em 0 1.333em;
			border-top:2px solid #EEE;
			border-bottom:2px solid #EEE;

			.authorInfo {

				width:60%;

				p {
					@include em_size(line-height, 22);
				}
				
				strong {
					font-weight:normal;
					display:block;
					@include caps;
					padding-bottom:0.3em;
				}

				span {
					@include em_size(font-size, 14);
				}

			}

		}

		.postOptions {

			padding:2.5em 0 3em;
			@extend .clear;

			strong, ul, li {
				float:left;
			}

			strong {
				padding:2px 15px 0 0;
			}

			li {
				margin-left:5px;
			}

		}

	}