	
	.hero {
		
		height:26em;
		overflow:hidden;

		img {
			display:block;
			width:100%;
			height:auto;
			margin-top:-8%;
		}

	}	

	.post {

		@include em_size(padding-bottom, 120);
		padding:0 14% 4% 12%;
		max-width:900px;
		border-bottom:1px solid #DDD;

		.postTitle {

			@include em_size(padding-bottom, 25);

			h2 {

				font-weight:bold;
				color:#000;
				@include em_size(padding-top, 20);
				@include em_size(padding-bottom, 5);
				@include em_size(font-size, 48);
				@include em_size(line-height, 20);

				a {
					color:#000;
				}

			}

			p {
				font-variant:small-caps;
			}

		}

		.postImage, .postEntry {

			img {
				display:block;
				max-width:100%;
				height:auto;
				margin-bottom:30px;
			}

		}

		.postEntry {
			
			p {
				@include em_size(font-size, 22);
				@include em_size(padding-bottom, 40);
			}

		}

	}