	
	@media screen and (max-width:1000px){
		
		#sidebar {
			position:static;
			width:auto;
			height:auto;
		}

		#drawer {
			right:-30%;
			width:30%;
		}
		
		#central, #central.mixed {
			width:auto;
			padding:0;
			margin:0;
		}

	}