	
	@media screen and (max-width:1000px){
		
		#header {
			
			position:static;
			top:0;
			left:0;
			width:auto;
			@include em_size(padding-top, 10);
			@include em_size(padding-bottom, 10);
			background:#FFF;
			border-bottom:1px solid #DDD;

			#sidebar {

				position:static;
				width:auto;
				height:auto;

				#blogBrand {
		
					padding:0;
					@include em_size(padding-left, 20);
					@extend .clear;

					p, h1 {
						float:left;
						padding:0;
						@include em_size(margin-right, 15);
					}

					span {
						display:block;
						@include em_size(padding-top, 10);
					}
					
					h1 {
						font-size:1.25em;
						@include em_size(padding-top, 5);
					}

					p {

						img {
							height:40px;
						}

					}

				}

				#blogPages {
					display:none;
				}

			}

		}

		#drawer {
			right:-30%;
			width:30%;
		}
		
		#central, #central.mixed {
			@include transition-property(none);
			@include transition-duration(0);
			width:auto;
			padding:0;
			margin:0;
		}

		#singleNav {

			text-align:center;
			
			p {
				float:none;
				display:inline;
				margin:0 10px;	
			}
			
		}

	}

	@media screen and (max-width:500px){

		#header #sidebar #blogBrand p:last-child {
			display:none;
		}
			
		.hero {
			@include em_size(height, 120);
			overflow:hidden;
		}

		#drawer {
			width:50%;
			right:-50%;
		}

		#sectionsBox {
			display:block;
		}

		.post {
			
			.postTitle h2 {
				@include em_size(font-size, 28);
			}

			.postEntry {
				@include em_size(font-size, 18);
			}

			.postActions li {
				float:none;
				margin:0;
				text-align:center;
				@include em_size(margin-bottom, 10);
				@extend .clear;
				li {
					display:inline;
					margin:0 10px;
				}
			}

		}

	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	    .sprite {
	    	background-image:image-url('retina/sprite.png', false, false);
	    	background-size:15px 40px;
	    }
	    .post .postActions .pa-like .voting {
	    	background-image:image-url('retina/like.gif', false, false);
			background-size:20px 18px;
	    }
	}