	
	@media screen and (max-width:1000px){
		
		#header {
			
			position:static;
			top:0;
			left:0;
			width:auto;
			padding:10px 0;
			background:#FFF;
			border-bottom:1px solid #DDD;

			#sidebar {

				position:static;
				width:auto;
				height:auto;

				#blogBrand {
		
					padding:0 0 0 20px;
					@extend .clear;

					p, h1 {
						float:left;
						padding:0;
						margin-right:15px;
					}

					span {
						display:block;
						padding-top:10px;
					}
					
					h1 {
						font-size:1.25em;
						padding-top:5px;
					}

					p {

						img {
							height:40px;
						}

					}

				}

				#blogPages {
					display:none;
				}

			}

		}

		#drawer {
			right:-30%;
			width:30%;
		}
		
		#central, #central.mixed {
			@include transition-property(none);
			@include transition-duration(0);
			width:auto;
			padding:0;
			margin:0;
		}

	}

	@media screen and (max-width:500px){

		#header #sidebar #blogBrand p:last-child {
			display:none;
		}
			
		.hero {
			
			height:12em;
			overflow:hidden;

		}

		#drawer {
			width:50%;
			right:-50%;
		}

		.post {
			
			.postTitle h2 {
				@include em_size(font-size, 28);
			}

			.postEntry {
				@include em_size(font-size, 18);
			}

		}

	}