	
	#sidebar {

		border-right:1px solid rgba(0,0,0,0.07);

		#blogAuthor {

			font-size:0.813em;
			@extend .clear;
			padding:20px 0;
			border-top:1px solid #EEE;

			#ba-avatar,
			#ba-info {
				float:left;
			}

			#ba-avatar {

				width:75px;
				height:75px;
				@include border-radius(75px);
				overflow:hidden;
				
				img {
					display:block;
				}

			}

			#ba-info {

				width:50%;
				line-height:100%;
				padding:2px 0 0 20px;
				
				* {
					display:block;
					padding-top:5px;
				}

				strong {
					color:darken($maincolor, 7);
				}

				span {
					color:#888;
				}

			}

		}

		#postActions {

			font-size:0.875em;
			text-align:center;

			li {
				margin:5px 0;
			}

			a {
				color:#999;
				display:block;
				padding:5px 10px;
				text-transform:uppercase;
				letter-spacing:0.1em;
				background:rgba(0,0,0,0.04);
				@include border-radius(3px);

			}

			#pa-like a:hover {
				color:#FFF;
				text-decoration:none;
				background:#e74c3c;
			}

		}

	}