
	#customThemeOptions #icon-themes {
		float:left;
		width:36px;
		height:32px;
		margin:7px 12px 0 0;
		overflow:hidden;
	}

	#customThemeOptions #message {
		padding:10px 10px 8px;
		margin:10px 0 5px;
	}

	#customThemeOptions table {
		margin-top:10px;
	}

	#customThemeOptions table .labelItem {
		width:32%;
	}

	#customThemeOptions th {
		padding:7px 12px;
	}

	#customThemeOptions td {
		background:#FFF;
		padding:12px;
		overflow:visible;
	}

	#customThemeOptions .mulOption {
		display:inline-block;
		width:80px;
		margin:0 20px 0 0;
	}

	#customThemeOptions .mulOption input {
		margin-right:5px;
	}

	#customThemeOptions .in {
		width:200px;
		padding:5px;
		border-color:#CCC;
	}

	#customThemeOptions .in:focus {
		border-color:#999;
	}

	.manage-menus {
		clear:both;
		margin-top:10px;
	}

	#colorPickerHolder {
		position:relative;
	}

	#picker {
		display:none;
		padding:10px;
		position:absolute;
		background:#FFF;
		border:1px solid #AAA;
		top:-5px;
		left:1px;
		z-index:1;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
	}

	.farbtastic {
		position:relative;
	}
	.farbtastic * {
		position:absolute;
		cursor:crosshair;
	}
	.farbtastic, .farbtastic .wheel {
		width:195px;
		height:195px;
	}
	.farbtastic .color, .farbtastic .overlay {
		top:47px;
		left:47px;
		width:101px;
		height:101px;
	}
	.farbtastic .wheel {
		background: url(../images/wheel.png) no-repeat;
		width:195px;
		height:195px;
	}
	.farbtastic .overlay {
		background:url(../images/mask.png) no-repeat;
	}
	.farbtastic .marker {
		width:17px;
		height:17px;
		margin:-8px 0 0 -8px;
		overflow:hidden; 
		background:url(../images/marker.png) no-repeat;
	}

	#saveCustomThemeChanges {
		margin-top:20px;
	}